@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Libre+Franklin:ital,wght@0,100;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
}

body {
    background-color: #eeeeee;
}

a {
    text-decoration: none;
    color: #222831;
}

nav {
    padding: 10px 148px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

nav img {
    width: 70px;
}
.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 20px;
    background-color: #00adb5;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid transparent;
    color: #222831;
    transition: all 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.left-side:hover {
    background-color: #5bc0de;
}

.left-side i{
    font-size: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

nav .nav-links a{
    transition: all 0.3s ease;
}

nav .nav-links a:hover {
    color: #5bc0de;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.fancy-hr {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 82%;
    position: absolute;
    left: 135px
}

.main {
    padding: 0 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: calc(100vh - 74.67px);
    color: #222831;
}

.hello {
    font-weight: 600;
}
.main .info h1 {
    font-size: 45px;
    margin-bottom: 40px;
    color: #222831;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.main .info .desc {
    font-size: 16px;
    margin-bottom: 45px;
    width: 100%;
}

.contacts-logo i{
    font-size: 50px;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.contacts-logo i:hover{
    color: #5bc0de;
    transform: scale(1.05);
}

.main img {
    height: 400px;
    width: auto;
    border-radius: 10px;
    border: 0px transparent solid;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.recent {
    padding: 60px 148px;
    background-color: #00adb5;
}

.recent .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.recent .posts {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.posts .post-item .info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.posts .post-item .info h5 {
    font-size: 18px;
}

.posts .post-item {
    background-color: #eeeeee;
    padding: 24px;
    width: 460px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.posts .post-item h3{
    margin-bottom: 18px;
    font-size: 26px;
}

.posts .post-item a{
    font-size: 15px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.posts .post-item a:hover {
    transform: scale(1.1) translate(20px);
    color: #5bc0de;
}

.posts .post-item a i{
    font-size: 16px;
}

.view-all {
    text-decoration: underline;
    transition: all 0.3s ease;
}

.view-all:hover {
    color: #eeeeee;
}

.featured {
    padding: 60px 290px;
}

.featured .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured .projects .project-item img {
    height: auto;
    width: 250px;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.featured .view-all {
    text-decoration: underline;
    transition: all 0.3s ease;
}

.featured .view-all:hover {
    color: #5bc0de;
}

.featured .header{
    margin-bottom: 30px;
}

.featured .projects .project-year {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.featured .projects .project-year .year {
    background-color: #5bc0de;
    padding: 2px 8px;
    border-radius: 20px;
}

.featured .projects .project-item {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px ;
    border-bottom: #222831 1px solid;
    justify-content: center;
    align-items:center ;
}

.projects .project-info {
    margin-left: 20px;
}

.projects .project-info h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 26px;
}

.projects a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.projects a:hover {
    transform: scale(1.1) translate(30px);
    color: #5bc0de;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00adb5;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
}

.footer .footer-logo i{
    font-size: 30px;
    color: #222831;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer .footer-logo i:hover {
    color: #5bc0de;
}

.footer p {
    font-size: 13px;
    opacity: 50%;
}

.works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.works img {
    height: auto;
    width: 300px;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.works .project-item {
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 30px;
    border-bottom: #222831 1px solid;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.works-featured {
    padding: 30px 200px;
}

.works-featured .header h4 {
    font-size: 30px
}

.works .project-item .project-info h3{
    font-size: 25px;
}

.works .project-item .project-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.works .project-year {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.works .project-year .year {
    background-color: #5bc0de;
    padding: 2px 8px;
    border-radius: 20px;
}

.works a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.works a:hover {
    transform: scale(1.1) translate(30px);
    color: #5bc0de;
}

.about-container {
    padding: 30px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.about-container .header{
    margin-bottom: 30px;
    font-size: 30px;
}

.profile-container {
    display: flex;
    padding: 40px;
    align-items: center;
    margin: 0px 30px;
    background-color: #00adb5;
    border-radius: 20px;
    gap: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.profile-container img{
    height: 400px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.profile-container .about-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.about-item h4 {
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    margin-bottom: 10px;
}

.about-item .contact-me {
    font-weight: 700;
    margin-top: 10px;
}

.profile-container .download{
    margin-top: 5px;
    padding: 5px 20px;
    width: 150px;
    border-radius: 10px;
    border: 1px #222831 solid;
    background-color: #5cb85c;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: 500;
}

.profile-container .download:hover{
    background-color: #5bc0de;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.contact-container {
    padding: 30px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-container .header {
    font-size: 30px;
}

.contact-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contact-container form input{
    border-radius: 5px;
    border: #222831 2px solid;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 15px;
}

.contact-container form textarea{
    border-radius: 5px;
    border: #222831 2px solid;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-weight: 400;
    font-size: 15px;
    height: 200px;
}

.contact-container .form-container{
    display: flex;
    flex-direction: column;
    background-color: #00adb5;
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.form-container button{
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #5cb85c;
    border: solid #222831 1px;
    border-radius: 5px;
    align-self: flex-end;
    width: 100px;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: 500;
}
.form-container button:hover{
    background-color: #5bc0de;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}
form label {
    font-size: 18x;
    font-weight: 500;
}

@media screen and (max-width:1400px) {
    nav{
        padding: 20px 60px;
    }
    
    .fancy-hr{
        width: 92%;
        left: 60px;
    }

    .main{
        padding: 0px 60px;
    }

    .recent{
        padding: 60px;
    }

    .featured {
        padding: 40px 60px;
        margin-bottom: 30px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .featured .project-item{
        width: 90%;
    }

    .works-featured {
        padding: 40px 60px 0;
        margin-bottom: 60px;
    }

    .works-featured .header {
        margin-left: 30px;
    }

    .works .project-item{
        width: 90%;
    }

    .about-container{
        padding: 40px 60px 0;
        margin-bottom:60px;
    }

    .about-container .header{
        margin-left: 30px;
    }

    .about-container .profile-container {
        margin-left: 70px;
        margin-right: 70px;
    }

    .contact-container {
        padding:  40px 60px 0;;
        margin-bottom: 60px;
    }

    .contact-container .header {
        margin-left: 30px;
    }

    .contact-container .form-container {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media screen and (max-width: 1200px) {
    
    nav {
        padding: 20px 40px;
    }

    .fancy-hr {
        width: 95%;
        left: 40px;
    }

    .main {
        padding: 40px 40px;
        height: auto;
    }

    .main img {
        height: 370px;
        width: auto;
    }

    .recent {
        padding: 40px;
    }

    .featured {
        padding: 40px 40px;
    }

    .works-featured {
        padding: 40px;
        margin-bottom: 30px;
    }

    .works-featured .header {
        margin-left: 30px;
    }

    .about-container{
        padding: 40px;
        margin-bottom:30px;
    }

    .about-container .header{
        margin-left: 30px;
    }

    .contact-container {
        padding:  40px;
        margin-bottom: 30px;
    }

    .contact-container .header {
        margin-left: 30px;
    }

    .contact-container .form-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .about-container .profile-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 992px) {
    
    nav {
        padding: 20px;
    }

    .maim {
        padding: 0 20px;
    }

    .fancy-hr {
        width: 98%;
        left: 15px;
    }

    .main img {
        height: 350px;
        width: auto;
    }

    .main .info h1 {
        margin-bottom: 25px;
    }

    .main .info .desc {
        margin-bottom: 30px;
    }

    .recent {
        padding: 40px 20px;
    }

    .recent .posts .post-item {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .recent .post-item h3 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .recent h5, .recent p {
        font-size: 15px;
    }

    .posts .post-item .info {
        margin-bottom: 10px;
    }

    .featured {
        padding: 40px 20px;
    }

    .featured .header {
        margin-bottom: 10px;
    }

    .featured .projects .project-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 85%;
    }

    .featured .projects .project-item img {
        width: 90%;
        margin-bottom: 20px;
    }

    .works-featured {
        padding: 40px 20px;
    }

    .works-featured .works .project-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 85%;
    }

    .works-featured .works .project-item img {
        width: 90%;
    }

    .about-container {
        padding: 40px 20px;
    }

    .about-container .profile-container img{
        width: 50%;
        height: auto;
    }

    .about-container .profile-container {
        display: flex;
        flex-direction: column;
    }

    .contact-container {
        padding: 40px 20px;
    }

    .footer .footer-logo i{
        font-size: 35px;
    }

    .footer p {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {

    nav {
        justify-content: center;
    }

    nav img {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        margin: 40px 0;
    }

    .main .info h1{
        font-size: 40px;
        margin-bottom: 16px;
    }

    .main .info p{
        margin-bottom: 16px;
        font-size: 20px;
    }

    .main .info .contacts-logo i{
        font-size: 40px;
    }

    .main img {
        width: 70%;
        height: auto;
    }

    .recent .posts {
        display: flex;
        flex-direction: column;
    }

    .recent .posts .post-item {
        width: 80%;
        height: auto;
    }

    .about-container .profile-container img{
        width: 70%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    
    .main {
        padding: 10px 20px;
    }

    .recent .post-item {
        width: 100%;
    }

    .projects .project-item {
        width: 100%;
    }

    .about-container .profile-container {
        padding: 40px 30px;
        width: 95%;
    }

    .works-featured {
        padding: 20px 0px;
    }

    .works .project-item {
        width: 100%;
    }

    .about-container .header, .contact-container .header {
        align-self: flex-start;
    }

    .about-container, .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-container {
        padding: 20px 0px;
    }

    .contact-container .form-container {
        padding: 40px 30px;
        width: 95%;
    }
}